/.docker-data
/.env
/.eslintcache
/.parcel-cache
/dependencygraph.html
/dist
/node_modules
/tsbuild

.DS_STORE

# yarn

/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
