.wiki * {
  display: inline;
  white-space: normal;
}

.wiki .border {
  border: none;
}

.wiki a {
  pointer-events: none;
  cursor: default;
}

.wiki ul {
  display: block;
  list-style-type: disc;
}

.wiki li {
  display: list-item;
}

.wiki ul {
  padding-left: 0.75rem;
}

.wiki.compact img {
  width: 1.25rem;
}

.wiki.large img {
  width: 1.75rem;
}

.wiki .inline-image {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  flex-wrap: wrap;
}

.wiki.compact .inline-image > span:not(.border) {
  display: none;
}
